services:
    db:
        image: postgres:16-alpine
        container_name: postgres_db
        environment:
            POSTGRES_DB: chat_app_db
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
        ports:
            - '5432:5432'
        volumes:
            - pgdata:/var/lib/postgresql/data
        restart: always

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@example.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - '8080:80'
        depends_on:
            - db
        restart: always

    redis:
        image: redis:7.0-alpine
        container_name: redis
        ports:
            - '6379:6379'
        volumes:
            - 'redis-data:/data'

volumes:
    pgdata:
    redis-data:
